@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap');

/* The Smoothscroll css was written by deadlymuffin, 
and obtaind from: https://www.codegrepper.com/code-examples/html/css+smooth+scroll+between+sections */
html {
    scroll-behavior: smooth;
}

body {
    background-color: #fff;
    font-family: "Roboto", sans-serif;
    max-width: 100%;
    overflow-x: hidden;
    overflow: auto;
}

/*--------------------------------------Background Colors-----------------------------*/

.bg-color-nav{
    background-color: #fff!important;
}
.bg-color-jumbotron {
    background-color: rgba(0, 0, 0, 0.6);
}

.bg-color-btn {
    background-color: inherit;
}

.bg-color-btn--white {
    background-color: #fff;
}

.bg-color-shows,
.bg-color-gallery{
    background-color:#e6e6e6;
}

.bg-color-videos,
.bg-color-contact {
    background-color: #efefef;
}

/*--------------------------------------Navbar-----------------------------*/

.navbar {
    clear: both;
}

.navbar-wrapper {
    text-align: right;
}

.navbar-brand {
    font-size: 1.5em;
}

.navbar-toggler {
    border: none;
}

.nav-item {
    font-size: 1.3em;
}

.nav-link:hover,
.nav-link:active,
.nav-link:focus,
.nav-link:active:focus{
    transition: 100ms ease-in;
    transition: 100ms ease-out;    
    margin-top: -1px;
    font-weight: 600;
}

/*--------------------------------------Containers-----------------------------*/

.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.home-container,
.about-container,
.shows-container,
.gallery-container,
.videos-container{
    min-height: 100vh;
    display: grid;
    align-content: space-around;
    padding: 0;
    margin: 0 auto;
}

.home-container i,
.news-listend-container i {
    color: black;
    font-size: xx-large;
}

.about-container p {
    padding-left: 10px;
    padding-right: 10px;
}

.about-container a {
    color: #ff739d;
}

.contact-container {
    min-height: 100vh;
    display: grid;
    align-content: space-evenly;
}

.social-container{
    list-style-type: none;
    display: inline-flex;
    letter-spacing: 10px;
    color: black;
}

.social-container i {
    color: black;
    font-size: xx-large;
}

.videos-container p {
    font-size: 2em;
}

.news-listend-container i {
    text-align: center;
}

/*--------------------------------------Keyframes & Media-----------------------------*/

@keyframes bounceIn {
  0% {
    transform: scale(0.1);
    opacity: 1;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

/* This @keyframes bounceIn was written by Rachel Cope, 
and obtaind from: https://thoughtbot.com/blog/css-animation-for-beginners */

.home-heading,
.home-heading-news,
.news-listend-container i,
.news-listend-container button {
    
    animation-duration: 2s;
    animation-name: bounceIn;
}

@keyframes fromRight {
    0%   { transform: translate(1920px) skewX(-30deg) ; }
    70%  { transform: translate(0%)   skewX(-30deg) ; }
    80%  { transform: translate(0%)   skewX(20deg)  ; }
    95%  { transform: translate(0%)   skewX(-10deg) ; }
    100% { transform: translate(0%)   skewX(0deg)   ; }
} 

/* This @keyframes fromRight was written by Mike Sierra, 
and obtaind from https://webplatform.github.io/docs/tutorials/css_animations/ */

.home-container i {
    
    animation-duration: 3s;
    animation-name: fromRight;
}

@media (min-width: 768px){
    .shows-heading,
    .contact-heading,
    .videos-heading,
    .gallery-heading {
        font-size: 4rem;
    }


    .news-listend-container{
        display: none;
    }
}

@media (min-width: 767px) {
    .shows-heading,
    .contact-heading,
    .videos-heading,
    .gallery-heading {
        font-size: 3.5rem;
    }
    .home-container,
    .shows-container{
        max-height: 40vh;
    }
}

@media (max-width:766px) {
    .shows-heading,
    .contact-heading,
    .videos-heading,
    .gallery-heading {
        font-size: 2.5rem;
    }

    .home-container{
        min-height: 30vh;
    }
    .shows-information-container {
        width: 80%;
        
    }
}

/*--------------------------------------btn:hover,i:hover---------------------------*/

.btn--grey:hover,
.btn--grey:active,
.btn--grey:focus,
.btn--grey:active:focus {
    color: #e6e6e6;
    align-items: center;
    transition: 600ms ease-in;
    transition: 600ms ease-out;
}

.btn--inherit:hover,
.btn--inherit:active,
.btn--inherit:focus,
.btn--inherit:active:focus {
    color: #fff;
    align-items: center;
    transition: 600ms ease-in;
    transition: 600ms ease-out;
}

.social-container i:hover,
i:active,
i:focus,
i:active:focus,
.home-container i:hover,
i:active,
i:focus,
i:active:focus{
    color: #e6e6e6;
    transition: 400ms ease-in;
    transition: 400ms ease-out;
}

/*--------------------------------------Shows-----------------------------*/

.dates {
    width: 100px;
    height: 100px;
    background-color:#fff;
    border: 2px outset #fafafa;
    padding-top: 9px;
    font-size: 1.5rem;
    margin-bottom: -100px;
    z-index: 1;
}

.dates-right{
    width: 100px;
    height: 100px;
    background-color:#fff;
    border: 2px outset #fafafa;
    padding-top: 9px;
    font-size: 1.5rem;
    float: inline-end;
    z-index: 1;
}

.location{
    font-weight: 600;
    width: 100%;
    margin-bottom: 0;
    text-align: right;
}

.location-right {
    font-weight: 600;
    width: 300px;
    margin-bottom: 0;
   
}

.city {
    width: 100%;
    margin-bottom: 0;
    text-align: right;
}

.city-right{
    width: 300px;
    margin-bottom: 0;
}

.btn-tickets{
    border-left: 5px solid #fff;
    margin-top: -20px;
    height: 50px;
    padding-top: 15px;
    
}

.btn-tickets-right {
    border-right: 5px solid #fff;
    margin-top:-20px;
    height: 50px;
    padding-top: 15px;
    
}

.block-divider {
    width: 100%;
    height: 5px;
    border: 0;
    background-color: #fff;
    margin-top:49px;
    
}

.block-divider-right {
    width: 100%;
    height: 5px;
    border: 0;
    background-color: #fff;
    margin-top: -1px;
    
}

.border-outset{
    border: 2px outset #fafafa;
}

/*--------------------------------------Contact Form-----------------------------*/

form input,
form textarea {
    width: 90%;
    background-color: #efefef;
    color: black;
    outline: none;
}

form input {
    height: 3rem;
    border: none;
    border-bottom: 2px solid black;
    margin-bottom: 2rem;
    font-size: large;
}

form textarea {
    height: 10rem;
    border: 2px solid black;
    margin-bottom: 2rem;
    color: black;
}

form ::placeholder {
    color: black;
}

/*--------------------------------------Newsletter Modal-----------------------------*/

.modal {
    color: black;
    background-color: #e6e6e6;
}

/*--------------------------------------Additional styling-----------------------------*/

.uppercase {
    text-transform: uppercase;
}

.color-period {
    color: #ff739d;
}

.text-black{
    color: #000000;
}

.carousel-control-next, .carousel-control-prev {
    position: absolute;
    top: 50%;
    bottom: 0;
    z-index: 1;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.1);
    transition: opacity .15s ease;
}
