@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap');

/* The Smoothscroll css was written by deadlymuffin, 
and obtaind from: https://www.codegrepper.com/code-examples/html/css+smooth+scroll+between+sections */
html {
    scroll-behavior: smooth;
}

body {
    background-color: #fff;
    font-family: "Roboto", sans-serif;
    max-width: 100%;
    overflow-x: hidden;
    overflow: auto;
}

/*--------------------------------------Background Colors-----------------------------*/

.bg-color-nav{
    background-color: #fff!important;
}

.bg-color-btn {
    background-color: inherit;
}

.bg-color-btn--white {
    background-color: #fff;
}

.bg-color-shows,
.bg-color-gallery,
.bg-color-visit{
    background-color:#212529;
    color: #efefef;
    
}

.bg-color-videos,
.bg-color-contact,
.bg-color-about {
    background-color: #efefef;
}

/*--------------------------------------Navbar-----------------------------*/

.navbar {
    clear: both;
}

.navbar-wrapper {
    text-align: right;
}

.navbar-brand{
    width: 20px;
    height: 10px;
    margin-bottom: 30px;
}

.navbar-toggler {
    border: none;
}

.nav-item {
    font-size: 1.3em;
}

.nav-link:hover,
.nav-link:active,
.nav-link:focus,
.nav-link:active:focus{
    transition: 100ms ease-in;
    transition: 100ms ease-out;    
    margin-top: -1px;
    font-weight: 600;
}


/*--------------------------------------Containers-----------------------------*/

.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.home-container,
.about-container,
.shows-container,
.videos-container,
.gallery.container{
    min-height: 100vh;
    display: grid;
    align-content: space-around;
    padding: 0;
    margin: 0 auto;
}

.home-container i,
.news-listend-container i {
    color: black;
    font-size: xx-large;
}

.shows-request-container a,
.visit-container a{
    color: #000;
}

.about-container p {
    padding-left: 10px;
    padding-right: 10px;
}

.about-container a {
    color: #ff739d;
}

.contact-container {
    min-height: 100vh;
    display: grid;
    align-content: space-evenly;
}

.social-container{
    list-style-type: none;
    display: inline-flex;
    text-align: center;
    letter-spacing: 10px;
    color: #212529;
    margin-right: 10px;
}

.social-container i {
    color: #212529;
    font-size: xx-large;
}

.news-listend-container i {
    text-align: center;
}


/*--------------------------------------Keyframes & Media-----------------------------*/

@keyframes bounceIn {
  0% {
    transform: scale(0.1);
    opacity: 1;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

/* This @keyframes bounceIn was written by Rachel Cope, 
and obtaind from: https://thoughtbot.com/blog/css-animation-for-beginners */


@keyframes fadeIn {
0% {
    opacity:0;
}
100% {
    opacity:1;
}
}

.home-heading,
.home-heading-news,
.news-listend-container i,
.news-listend-container button {
    
    animation-duration: 4s;
    animation-name: fadeIn;
}

@keyframes fromRight {
    0%   { transform: translate(1920px) skewX(-30deg) ; }
    70%  { transform: translate(0%)   skewX(-30deg) ; }
    80%  { transform: translate(0%)   skewX(20deg)  ; }
    95%  { transform: translate(0%)   skewX(-10deg) ; }
    100% { transform: translate(0%)   skewX(0deg)   ; }
} 

/* This @keyframes fromRight was written by Mike Sierra, 
and obtaind from https://webplatform.github.io/docs/tutorials/css_animations/ */

.home-container i {
    
    animation-duration: 3s;
    animation-name: fromRight;
}

@media (min-width: 768px){
    .about-heading,
    .shows-heading,
    .contact-heading,
    .videos-heading,
    .gallery-heading {
        font-size: 4rem;
    }


    .news-listend-container{
        display: none;
    }
    .lyrics-container {
        min-height: 30rem;
    }
}

@media (min-width: 767px) {
    .about-heading,
    .shows-heading,
    .contact-heading,
    .videos-heading,
    .gallery-heading {
        font-size: 3.5rem;
    }
    .home-container{
        max-height: 40vh;
    }
}

@media (max-width:766px) {
    .about-heading,
    .shows-heading,
    .contact-heading,
    .videos-heading,
    .gallery-heading {
        font-size: 2.5rem;
    }

    .home-container{
        min-height: 30vh;
    }

    .videos-container,
    .gallery.container,
    .about-container {
        min-height: min-content;
    }
    
    .shows-information-container {
        width: 80%;
        
    }
    .lyrics-container {
        min-height: 50rem;
    }

    .img-container {
        margin: 1rem!important;
        padding-top:0.5rem!important
    }
}

/*--------------------------------------btn:hover,i:hover---------------------------*/

.btn--grey:hover,
.btn--grey:active,
.btn--grey:focus,
.btn--grey:active:focus {
    color: #ff739d;
    transition: 400ms ease-in;
    transition: 400ms ease-out;
}

.btn--inherit:hover,
.btn--inherit:active,
.btn--inherit:focus,
.btn--inherit:active:focus {
    color: #ff739d;
    transition: 400ms ease-in;
    transition: 400ms ease-out;
}

.shows-request-container a:hover,
a:active,
a:focus,
a:active:focus,
.visit-container a:hover,
a:active,
a:focus,
a:active:focus {
    color: #ff739d;
    transition: 400ms ease-in;
    transition: 400ms ease-out;
}

.social-container i:hover,
i:active,
i:focus,
i:active:focus,
.home-container i:hover,
i:active,
i:focus,
i:active:focus{
    color: #ff739d;
    transition: 400ms ease-in;
    transition: 400ms ease-out;
}

.about-heading:hover,
.shows-heading:hover,
.contact-heading:hover,
.videos-heading:hover,
.gallery-heading:hover,
.lyrics-header:hover {
    color: #ff739d;
    transition: 400ms ease-in;
    transition: 400ms ease-out;
}

.lyrics-title:hover{
    transform: scale(1.1);
    transition: 400ms ease-in;
    transition: 400ms ease-out;
}

/*--------------------------------------Shows-----------------------------*/

.dates {
    width: 100px;
    height: 100px;
    color: #212529;
    background-color:#efefef;
    border: 2px outset #fafafa;
    padding-top: 9px;
    font-size: 1.5rem;
    margin-bottom: -100px;
    z-index: 1;
}

.location{
    font-weight: 600;
    width: 100%;
    margin-bottom: 0;
    text-align: right;
}

.city {
    width: 100%;
    margin-bottom: 0;
    text-align: right;
}

.btn-tickets{
    border-left: 5px solid #efefef;
    margin-top: -20px;
    height: 50px;
    padding-top: 15px;
    color: #efefef;
    
}

.block-divider {
    width: 100%;
    height: 5px;
    border: 0;
    background-color: #efefef;
    margin-top:49px;
   
}

.border-outset{
    border: 2px outset #fafafa;
}


/*--------------------------------------Contact Form-----------------------------*/

form input,
form textarea {
    width: 90%;
    background-color: #efefef;
    color: black;
    outline: none;
}

form input {
    height: 3rem;
    border: none;
    border-bottom: 2px solid black;
    margin-bottom: 2rem;
    font-size: large;
}

form textarea {
    height: 10rem;
    border: 2px solid black;
    margin-bottom: 2rem;
    color: black;
}

form ::placeholder {
    color: black;
}

/*--------------------------------------Newsletter Modal-----------------------------*/

.modal {
    color: black;
}

.modal-title {
    font-size: 1.5rem;
    
}

.modal button {
    float: right;
}

.modal-header {
    background-color: #e6e6e6;
}
.modal-body {
    background-color: #efefef;
    text-align: center;
    font-weight: 500;
}

.news-form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #000;
    background-color: #efefef;
    border: none;
    border-radius: 0;
    background-clip: padding-box;
    border-bottom: 2px solid black;
}

/*--------------------------------------Lyric Cards-----------------------------*/


.lyrics-container {
    height: 10rem;
    width: auto;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #efefef;
    -webkit-perspective: 100px;
    -moz-perspective: 3000px;
    -o-perspective: 3000px;
    perspective: 3000px
}

.front:hover {
    background-color:#212529;
    color: #efefef;
    transition: 800ms ease-in;
    transition: 800ms ease-out;
}


.card {
    height: 100%;
    width: 100%;
    position: absolute;
    cursor: pointer;
    transition: transform 0.4s;
    -webkit-transition: -webkit-transform 0.4s;
    -moz-transition: -moz-transform 0.4s;
    -o-transition: -o-transform 0.4s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    border: none;
    
}

.card.flipped {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.card .front,
.card .back {
    display: block;
    position: absolute;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    
}

.card .back {
    -webkit-transform: rotateY( 180deg );
    -moz-transform: rotateY( 180deg );
    -o-transform: rotateY( 180deg );
    transform: rotateY(180deg);
}
.front {
    background-color: #efefef;
    height: 100%;
    width: 100%;
}

.back {
    background-color:#212529;
    color: #efefef;
    height: 100%;
    width: 100%;

}

.back p {
    padding: 2rem;
}

.front h1,
.front p {
    padding: 10px;
}

/*--------------------------------------Additional 
styling-----------------------------*/

.uppercase {
    text-transform: uppercase;
}

.color-period {
    color: #ff739d;
}

.text-black{
    color: #000000;
}

.carousel-control-next, .carousel-control-prev {
    position: absolute;
    top: 50%;
    bottom: 0;
    z-index: 1;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.1);
    transition: opacity .15s ease;
}

.block-divider-lyrics {
    width: 40%;
    height: 3px;
    border: 0;
    background-color: #fafafa;
}


